.details {
  text-align: center;
  border: 1px;
}

.detail-header {
  font-weight: bold;
  padding: 15px;
}

.table-header {
  padding: 10px;
}

.table-data {
  padding: 5px;
}

.goBack {
  width: 75%;
  height: 40px;
  background: deepskyblue;
  border: 2px solid blue;
  border-radius: 8px;
}

.table-row {
  background-color: aqua;
}

.table-header-row {
  background-color: royalblue;
}
